-----BEGIN CERTIFICATE-----
MIIFaTCCBFGgAwIBAgISAweNdciam7fmuWjfkW07fl+AMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTEyMTEwNzE0MDlaFw0y
MDAzMTAwNzE0MDlaMBoxGDAWBgNVBAMTD2ppYW5zaGFuZ2R6LmNvbTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAMfhfrOyeyxi9gBHmyTi3PFhws4mASd5
Cfla5EoTI4NftdxANdg2Hq7U69UlgN+WpWTjY/O5x2J1TzrXcifVtwD5ouQJvZ76
OlFvnIOXav1tUHgv2Q94lz9UvumXBu+gP8Mv6z2MfxbFdIjnY9Prc7OwqFqVRYPZ
SFeYYTgN3nBqvI/GtdDDtWmVMlOQT69IuAgS/W/zotBRW99341F/gWc9UZlFhlRS
fIrDehRH78OQGSba0wPLBqNYcSY+/hLKdLZ0FkUrT3kIuNfAZJM3HoTN1IvVvyP6
dWYB7yL1TSaNc82xCGNAixyRXmTsT7gdtfpjxzA96H859dvBcug79ekCAwEAAaOC
AncwggJzMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYB
BQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUguGWfpuieMqIX1qRMeYBhu2l
3TkwHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUHAQEE
YzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5cHQu
b3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5cHQu
b3JnLzAtBgNVHREEJjAkghEqLmppYW5zaGFuZ2R6LmNvbYIPamlhbnNoYW5nZHou
Y29tMEwGA1UdIARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYB
BQUHAgEWGmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIBBAYKKwYBBAHWeQIE
AgSB9QSB8gDwAHUAXqdz+d9WwOe1Nkh90EngMnqRmgyEoRIShBh1loFxRVgAAAFu
9AXFiwAABAMARjBEAiA7M57V4xlSS+UEcD9ITlecbvqX5MxS34He07NNiDJ+jAIg
RBeeK2JNF2GV2eMqSDgToIvV7QImSzqauYdhPz4KVlYAdwAHt1wb5X1o//Gwxh0j
Fce65ld8V5S3au68YToaadOiHAAAAW70BcWnAAAEAwBIMEYCIQCuPL24v4HA/7jZ
7nH5NJiNaM3RoCfiUbZSw8OQt87miwIhAOhBrN+cyIdPiNqwX9zQ8oKSPBXz/l0f
2o7pQ+dCuyTwMA0GCSqGSIb3DQEBCwUAA4IBAQAABAdtN7KKi0GMLIxoGuRlOXMI
XSYdeznu15E8WzC522R+uX8+IryBmasnVO02y2wkYwOzQLH6UIqtytzF80Tjkyee
qQaqhVq4/j71uPW6KvzHvSclb64uSkYz7msOo8aeRqN1A9tW2m75WefGCOKSbrUk
AiXVtMsBBOn/ilvn73Qb6Om0c1hfSeoyxHVVlxh+9fDzSiFgNUjpb6WIVFitfMiX
/i6y2W9VUM2Jxk7e4hlTLPj6C24pvTZZl1JHYoCYzU7N3n/T0EYAa3hy/H0/cqRI
fToS2nPx4bZhDEYcaIIyIM2U3Cf2nL3hBdq8GGyttY3/ToOdJY4tANydXNBY
-----END CERTIFICATE-----

-----BEGIN CERTIFICATE-----
MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
-----END CERTIFICATE-----

