{

"v": "2",

"ps": "233v2.com_{{ hostvars[inventory_hostname].inventory_hostname }}",

"add": "{{ hostvars[inventory_hostname].inventory_hostname }}",

"port": "{{ v2ray_port }}",

"id": "{{ (uuid_data.content|b64decode).strip() }}",

"aid": "{{ alterId }}",

"net": "{{ v2ray_network }}",

"type": "none",

"host": "https://{{ v2ray_idc }}{{ last_octet.stdout }}.{{ v2ray_domain }}",

"path": "{{ v2ray_url_path }}",

"tls": ""

}
