PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0

ServerActive= 119.9.94.6
Server=119.9.94.6
HostMetadata=cloud_nginx
Include=/etc/zabbix/zabbix_agentd.d/*.conf

UserParameter=tcp.connections,/etc/zabbix/include/check_tcp_connections.sh
UserParameter=process.check_process[*],/etc/zabbix/include/check_process.sh $1