{% extends "base.html" %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}

    <script src="/static/js/select2/select2.full.min.js"></script>

    <script src="/static/js/fwdcontrol/nginx.js" type="text/javascript"></script>
   <script src="/static/js/plugins/codemirror/codemirror.js"></script>
    <script src="/static/js/fwdcontrol/nginx-format.js" type="text/javascript"></script>
    <script src="/static/js/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/js/plugins/toastr/toastr.min.js"></script>

{% endblock %}

{% block title %}
{{ HOSTGROUP }}
{% endblock %}
{% block header %}
<span id="hostgroup">{{ HOSTGROUP }}</span> Servers
{% endblock %}


{% block details %}
(<span id="config_src">{{ CONFIG_SRC }}</span>)
{% endblock %}

{% block style %}
    {{ block.super }} {# includes previous content in block #}

    <link href="/static/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="/static/css/plugins/codemirror/monokai.css" rel="stylesheet">


<style>

    .CodeMirror {
  border: 1px solid #eee;
  height: auto;

}
.cm-s-monokai .CodeMirror-cursor {border-left: 5px solid #f8f8f0 !important;}

</style>
{% endblock %}


{% block action %}

<div class="col-lg-4 pull-right">

   <select class="form-control select2"  data-placeholder="File" style="width:100%;" name="file" id="file" onchange="getConfig(this.value);" required>
        {% for i in FILES %}
        <option id="{{ i }}" value="{{ i }}" >{{ i }}</option>
        {% endfor %}

    </select>
</div>
    <div class="col-lg-3 pull-right">
        <div class="input-group">
            <input type="text" id="findstring" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-primary" onclick="findString();"><i class="fa fa-search"></i> Search</button></span>
        </div>
    </div>

    <button href="#" id="commit" class="btn btn-success" onclick="commitFile();"><i class="fa fa-check"></i> Commit File</button>&nbsp;
    <button href="#" id="sync" class="btn btn-primary" onclick="sync(this);"><i class="fa fa-sync"></i> Sync</button>
    <!--<button href="#" id="find" class="btn btn-default " onclick="findString();"><i class="fa fa-search"></i> Find</button>-->
    <button href="#" id="createFile" class="btn btn-default " onclick="createFile();"><i class="fa fa-edit"></i> Create New File</button>




{% endblock %}
{% block content %}



<div class="row border-bottom white-bg dashboard-header">

            <div class="row">

                <div class="col-lg-3">
                    <h3>Hosts</h3>
                    <ul>
                        {% for i in ansible_hosts %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4 pull-right" id="searchDiv" style="display:none">
                    <h3>Search Results</h3>

                    <div class="panel panel-success">

                        <div class="panel-body" style="overflow-y: scroll; height: 200px">
                            <div class="mid-width wrapItems" style="height:200px">
                                <ul id="searchResults">

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <br/>
            <div class="row" id="textrow">
                <div class="col-lg-12">
                <textarea id="filehandler">

                </textarea>
                </div>

            </div>
            <div class="row" id="syncrow" hidden>
                <div class="col-lg-12">
                    <h1>Syncing...</h1>
                </div>
            </div>


</div>

{% endblock %}