-----BEGIN CERTIFICATE-----
MIIFZTCCBE2gAwIBAgISA0zdFbXJbKIEIWl0dpq0+eyaMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTEyMTEwNzEzMjdaFw0y
MDAzMTAwNzEzMjdaMBgxFjAUBgNVBAMTDWh1YW5mZWlkei5jb20wggEiMA0GCSqG
SIb3DQEBAQUAA4IBDwAwggEKAoIBAQDqjKRn/p4NNnJl4VZOWG58wMsNepFZj0Io
NzxRwFHtNPbjMdgeGGoLzN8K+hXoxeuVJuFHR2OrkzRxJlmFmTUEPR6OwI3CwX1h
CyIrjxBRLNOvJ6pppeTgh8VkMyou1WpJXjx6wVyPqFKs9cFYweJXAO6CXDWiECU6
+qS0VFgoHveSwkM2k6dckhsg+Bekuob8EqcgyJmGNvFqzehuQoBRMshcgyE2XXUe
54ixKiONEG0vT6FO6aTdmY4OrfLwu5lOyXR8323aL0nXyIP+eA5FlfCZoqPgjmzL
19oHmODoy0j2OsCKl91dWsNTp6S7STwZ612yIkCUVPABaUaVRKQ9AgMBAAGjggJ1
MIICcTAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUF
BwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFJSTRaiDzc4KZyRYPJedIlamexRe
MB8GA1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMw
YTAuBggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0Lm9y
ZzAvBggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0Lm9y
Zy8wKQYDVR0RBCIwIIIPKi5odWFuZmVpZHouY29tgg1odWFuZmVpZHouY29tMEwG
A1UdIARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYBBQUHAgEW
Gmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIBBgYKKwYBBAHWeQIEAgSB9wSB
9ADyAHcAb1N2rDHwMRnYmQCkURX/dxUcEdkCwQApBo2yCJo32RMAAAFu9AUjTgAA
BAMASDBGAiEA6rZxmX0sarAlWFBTzwc/wVPv1Pnoi7vHfr7G9ZGCJrkCIQC9yCvQ
pBCKOvDgMNFdyYrM5ahs2sOZstLkbwuE9vFheQB3AAe3XBvlfWj/8bDGHSMVx7rm
V3xXlLdq7rxhOhpp06IcAAABbvQFI0cAAAQDAEgwRgIhAPmd5u0PCwQWYl64lG7B
4TMh0DhpiAfaN3QWM2XyOgAuAiEA1sQa+O+et8k9CGufuibaXbFIag/vLHVgM9Sh
MG6A5FEwDQYJKoZIhvcNAQELBQADggEBAJHQA8o66NpkTfGutgC28U3POtW9O7ro
O5RDvgyFXojWlAjgZndqyr33l0bSEYmPan2a6LvLTxAa1gZGFCzNgPc9T2hwqSc8
k47BjP7F6UENtBsKLb+SUxAfcH2eCbtjcLqlbCZdiXewEFRorqzEUyrX4hyQyxyJ
XsQfyPNP9VN8Ig+Z0g3dx9f/JveaBFKB9lYnayP7bmzu7oQO4l4TSLCz3Y7R99J9
/BR2LJZueSE9C9B2nKj4hI/0e404AK20yjneuzqaO7TkgHZYWNr1mYFCiXOjHo7t
nvV0VO+tYApKSry/iq6+Y/V5MtbPXROVFBgBRhXEhzcKsR2aOTvfL28=
-----END CERTIFICATE-----

-----BEGIN CERTIFICATE-----
MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
-----END CERTIFICATE-----

