<div class="container">
<div class="row">
        <div class="form-inline mx-sm-3">
        <form class="form-group mx-sm-1" method="POST" action="{% url 'SSR_home' %}">
            {% csrf_token %}
            <div class="form-inline mx-sm-3">
                <div class="form-inline mx-sm-3">
                <td>{{ form.IP.label_tag }}&emsp;{{ form.IP }}</td>
    <!--                            &emsp;-->
                    <td>
                        <p>{{ form.PORT.label_tag }}&emsp;{{ form.PORT }}</p>
                        <p>{{ form.USER.label_tag }}&emsp;{{ form.USER }}</p><br>
                        <p>{{ form.PASSWORD.label_tag }}&emsp;{{ form.PASSWORD }}</p>
                        <p>{{ form.IDC.label_tag }}&emsp;{{ form.IDC }}</p>
                    </td>
                    &emsp;
                    {% if logs_recap is not True %}
                        <button type="submit" class="btn btn-info" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button>
                    {% else %}
                        <button type="submit" class="btn btn-info">Add</button>
                    {% endif %}
                </div>
            </div>
        </form>
        </div>
</div>
<!--            <div class="row-3 mb-3">-->
<!--            </div>-->
{% if form.IP.errors %}
    {% for error in form.IP.errors %}
    <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
    {% endfor %}
{% endif %}
{% if form.PORT.errors %}
    {% for error in form.PORT.errors %}
    <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
    {% endfor %}
{% endif %}
{% if form.USER.errors %}
    {% for error in form.USER.errors %}
    <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
    {% endfor %}
{% endif %}
{% if form.PASSWORD.errors %}
    {% for error in form.PASSWORD.errors %}
    <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
    {% endfor %}
{% endif %}
{% if form.IDC.errors %}
    {% for error in form.IDC.errors %}
    <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
    {% endfor %}
{% endif %}
<h1></h1>
<!--Password-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>
<!--Password-->
</div>