            {% if form.IP.errors %}
                {% for error in form.IP.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if form.PORT.errors %}
                {% for error in form.PORT.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if form.USER.errors %}
                {% for error in form.USER.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if form.PASSWORD.errors %}
                {% for error in form.PASSWORD.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if form.IDC.errors %}
                {% for error in form.IDC.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}