{% extends "SSRCHECKER/base.html" %}


{% block action %}

{% endblock %}
{% block details %}
{% if '/configuration/' in request.path %}
SSR Configuration
{% else %}
V2RAY Configuration
{% endif %}
{% endblock %}
{% block content %}
<div class="row border-bottom white-bg dashboard-header">
            <div  class="col-10">
                {% if '/configuration/' in request.path %}
                <form  class="form-group mx-sm-1" method="POST" action="{% url 'SSR_config' %}">
                {% else %}
                <form  class="form-group mx-sm-1" method="POST" action="{% url 'v2ray_config' %}">
                {% endif %}
                    {% csrf_token %}
                    <div class="row">
                       <div class="col-lg-3">
                        {{ form.IP.label_tag }}&emsp;{{ form.IP }}
                        </div>
                        <div class="col-lg-3">
                            <h4></h4>
                            {% if '/configuration/' in request.path %}
                                {{ form.PORT.label_tag }}&emsp;{{ form.PORT }}
                            {% else %}
                                {{ form.V2RAY_PORT.label_tag }}&emsp;{{ form.V2RAY_PORT }}
                            {% endif %}
                        </div>
                        {% if '/v2ray-configuration/' in request.path %}
                        <div class="col-lg-3">
                            <h4></h4>
                            {{ form.V2RAY_PATH.label_tag }}&emsp;&emsp;{{ form.V2RAY_PATH }}
                            <br><br><br>
                            {{ form.V2RAY_DOMAIN.label_tag }}&emsp;{{ form.V2RAY_DOMAIN }}
                        </div>
                        {% endif %}
                    </div>
                    <hr/>
                <div class="row-2 mb-3">
                    &emsp;
                    {% if logs_recap is not True %}
                        <p align="right"><button type="submit" class="btn btn-primary" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Restarting...</button></p>
                    {% else %}
                        <p align="right"> <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Add</button></p>
                    {% endif %}
                </div>
                </form>
            </div>
            {% if form.IP.errors %}
                {% for error in form.IP.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if form.PORT.errors %}
                {% for error in form.PORT.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if form.V2RAY_DOMAIN.errors %}
                {% for error in form.V2RAY_DOMAIN.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
                {% if form.V2RAY_PORT.errors %}
                {% for error in form.V2RAY_PORT.errors %}
                <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                {% endfor %}
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div {% if message.tags %} class="alert alert-danger" {% endif %} align="left"><h4 align="center">{{ message }}</h4></div>
                    {% else %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} align="left"><h4 align="center">{{ message }}</h4></div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
            <hr>
    <div class="row-3 mb-3">
                <div class="col-sm">
                    <h1 class="display-3">Summary Information:</h1>
                </div>
              <div class="col-sm">
                  <table class="table table-sm table-striped table-bordered" id="mydatatable2" style="width: 100%">
                    <thead>
                        <tr class="thead-default">
                            <th align="center" scope="col">IP ADDRESS</th>
                            {% if '/configuration/' in request.path %}
                            <th align="center" scope="col">SSR PORT</th>
                            {% else %}
                            <th align="center" scope="col">V2RAY PORT</th>
                            <th align="center" scope="col">V2RAY PATH</th>
                            <th align="center" scope="col">V2RAY DOMAIN</th>
                            {% endif %}
                            <th align="center" scope="col">IDC</th>
                            <th align="center" scope="col">ACTION(S)</th>
                        </tr>
                    </thead>

                        <tbody>

                        {% for ssrdata in ssr_data %}
                            <tr>
                                <form  class="form-group mx-sm-1" method="POST" action="{% url 'SSR_IDCcheck' ssrdata.IP %}">
                                    {% csrf_token %}
                                    <td align="center">{{ ssrdata.IP }}</td>
                                    {% if '/configuration/' in request.path %}
                                    <td align="center">{{ ssrdata.PORT }}</td>
                                    {% else %}
                                    <td align="center">{{ ssrdata.V2RAY_PORT }}</td>
                                    <td align="center">{{ ssrdata.V2RAY_PATH }}</td>
                                    <td align="center">{{ ssrdata.V2RAY_DOMAIN }}</td>
                                    {% endif %}

                                    {% if ssrdata.IP in ssr_dataall %}
                                        {% for i in ssr_dataallmodel %}
                                            {% if i.IP == ssrdata.IP %}
                                                <td align="center">{{ i.IDC }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif ssrdata.IDC %}
<!--                                        {% for i in ssr_data %}-->
<!--                                            {% if i.IP == ssrdata.IP %}-->
                                                <td align="center">{{ ssrdata.IDC }}</td>
<!--                                            {% endif %}-->
<!--                                        {% endfor %}-->
                                    {% else %}
                                        <td align="center">{{ ssr_idcform.IDC.label_tag }}&emsp;{{ ssr_idcform.IDC }}</td>
                                    {% endif %}
                                {% if logs_recap is not True %}
                                    <td align="center"><button type="button" class="btn btn-danger" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Restarting...</button></td>
                                {% else %}
                                    {% if ssrdata.IP in ssr_dataall %}
                                        {% for i in ssr_dataallmodel %}
                                            {% if i.IP == ssrdata.IP %}
                                                {% if '/configuration/' in request.path %}
                                                <td ><a href='{% url "SSR_configdelete" ssrdata.id %}'><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button></a></td>
                                                {% else %}
                                                <td ><a href='{% url "V2ray_configdelete" ssrdata.id %}'><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button></a></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% elif ssrdata.IDC %}
                                            <td ><a href='{% url "SSR_configdelete" ssrdata.id %}'><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button></a></td>
                                    {% else %}
                                         <td ><a href='{% url "SSR_configdelete" ssrdata.id %}'><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button></a>
                                            &emsp;
                                            <a href='{% url "SSR_configdelete" ssrdata.id %}'><button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span>Apply</button></a></td>
                                    {% endif %}
                                {% endif %}
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                  </div>
            </div>

            {% if '/configuration/' in request.path %}
                {% if ssr_idcform.IDC.errors %}
                    {% for error in ssr_idcform.IDC.errors %}
                    <div align="center" class="alert alert-danger" ><h4>{{ error }}<h4></div>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} ><h4 align="center">{{ message }}</h4></div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <hr>
            {% if logs_recap is not True %}
                 <div class="row-2 mb-3">
                <p align="right"><button type="submit" class="btn btn-success btn-lg" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Restarting...</button>&emsp;</p>
                </div>
            {% else %}

            <div class="row-2 mb-3">
                {% if '/configuration/' in request.path %}
                <p align="right"><a href='{% url "SSR_configrestart" %}'><button type="submit" class="btn btn-success btn-lg "><i class="fa fa-sync"></i><span>Sync</span></button></a></p>
                {% else %}
                <p align="right"><a href='{% url "V2ray_configrestart" %}'><button type="submit" class="btn btn-success btn-lg "><i class="fa fa-sync"></i><span>Sync</span></button></a></p>
                {% endif %}
            </div>
            {% endif %}
            <hr>

        <div class="row-2 mb-3">
            <h1 class="display-3">History:</h1>
              <div class="col-sm">
                  <table class="table table-sm table-striped table-bordered" id="mydatatable" style="width: 100%">
                    <thead>
                        <tr class="thead-default">
                            <th align="center" scope="col">USERNAME</th>
                            <th align="center" scope="col">IP ADDRESS</th>
                            {% if '/configuration/' in request.path %}
                            <th align="center" scope="col">SSR PORT</th>
                            {% else %}
                            <th align="center" scope="col">V2RAY PORT</th>
                            {% endif %}
                            <th align="center" scope="col">STATUS</th>
                            <th align="center" scope="col">LOG FILE</th>
                            <th align="center" scope="col">DATE</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ssrinitdata in ssr_initdata %}
                        <tr>

                                {% if '/configuration/' in request.path %}
                                <td align="center">{{ ssrinitdata.USERNAME }}</td>
                                <td align="center">{{ ssrinitdata.IP }}</td>
                                <td align="center">{{ ssrinitdata.PORT }}</td>
                                {% if ssrinitdata.STATUS == "ERROR" or ssrinitdata.STATUS == "FAILED" or ssrinitdata.STATUS == "UNREACHABLE" %}
                                    <td align="center">
                                        <span class="badge badge-danger">{{ ssrinitdata.STATUS }}</span>
                                    </td>
                                    {% elif ssrinitdata.STATUS == "TIMEOUT" %}
                                    <td align="center">
                                        <span class="badge badge-warning">{{ ssrinitdata.STATUS }}</span>
                                    </td>
                                    {% else %}
                                    <td align="center">
                                        <span class="badge badge-info">{{ ssrinitdata.STATUS }}</span>
                                    </td>
                                    {% endif %}
                                <td align="center"><span class="glyphicon glyphicon-file"></span><a href='{% url "SSR_confighistory" ssrinitdata.id %}' target="_blank"> Logs</a></td>
                                <td align="center">{{ ssrinitdata.DATE }}</td>
                                {% else %}
                                    <td align="center">{{ ssrinitdata.V2RAY_USERNAME }}</td>
                                    <td align="center">{{ ssrinitdata.IP }}</td>
                                    <td align="center">{{ ssrinitdata.V2RAY_PORT }}</td>
                                        {% if ssrinitdata.V2RAY_STATUS == "ERROR" or ssrinitdata.V2RAY_STATUS == "FAILED" or ssrinitdata.V2RAY_STATUS == "UNREACHABLE" %}
                                        <td align="center">
                                            <span class="badge badge-danger">{{ ssrinitdata.V2RAY_STATUS }}</span>
                                        </td>
                                        {% elif ssrinitdata.V2RAY_STATUS == "TIMEOUT" %}
                                        <td align="center">
                                            <span class="badge badge-warning">{{ ssrinitdata.V2RAY_STATUS }}</span>
                                        </td>
                                        {% else %}
                                        <td align="center">
                                            <span class="badge badge-info">{{ ssrinitdata.V2RAY_STATUS }}</span>
                                        </td>
                                        {% endif %}
                                    <td align="center"><span class="glyphicon glyphicon-file"></span><a href='{% url "V2ray_confighistory" ssrinitdata.id %}' target="_blank"> Logs</a></td>
                                    <td align="center">{{ ssrinitdata.V2RAY_DATE }}</td>
                                {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
              </div>

        </div>
    </div>

<!--SCRIPT-->
<script>
$(document).ready(function() {
$('.mdb-select').materialSelect();
});</script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<!--datatable-->
{% if '/configuration/' in request.path %}
    <script>
            $(document).ready(function() {
                var table = $('#mydatatable').DataTable({
                                "order": [[ 5, "desc" ]], //or desc (for descending)
                                "columnDefs" : [{"targets":1, "type":"DATE"}],
                            });
            } );
    </script>
{% else %}
    <script>
            $(document).ready(function() {
                var table = $('#mydatatable').DataTable({
                                "order": [[ 5, "desc" ]], //or desc (for descending)
                                "columnDefs" : [{"targets":1, "type":"DATE"}],
                            });
            } );
    </script>
{% endif %}
<script>
        $(document).ready(function() {
            var table = $('#mydatatable2').DataTable({
                            "order": [[ 1, "desc" ]], //or desc (for descending)
                            "columnDefs" : [{"targets":1, "type":"DATE"}],
                        });
        } );
</script>
<!--datatable-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--    autoscroll-->
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
{% if logs_recap is not True %}
   <script>
    setTimeout(function() {
       location.reload();
    },5000);
    $(function () {
       $("#execute_content").animate({
        scrollTop: $('#execute_content').get(0).scrollHeight}, 100);});
   </script>
{% endif %}
<!--    autoscroll-->
<!--showpassword-->
<script>
function PassFunction() {
  var x = document.getElementById("id_PASSWORD");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<!--showpassword-->

<!--SCRIPT-->


{% endblock %}

