{% extends "base.html" %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}

    <script src="/static/js/select2/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/multiselect/js/multiselect.min.js"></script>
    <script src="/static/js/bootstrap-treeview.js"></script>

    <script src="/static/js/services/index.js"></script>

{% endblock %}

{% block style %}
    {{ block.super }} {# includes previous content in block #}
    <link href="/static/css/bootstrap-treeview.css" rel="stylesheet">
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.csss" rel="stylesheet">-->

{% endblock %}


{% block title %}
Service Management
{% endblock %}

{% block header %}
Service Management
{% endblock %}


{% block details %}
{% endblock %}



{% block action %}
        <div class="col-lg-4 pull-right">
            
        </div>
{% endblock %}

{% block content %}



<div class="row border-bottom white-bg dashboard-header">

    <div class="row">
        <!--<div class="col-lg-3">
            <label for="filtertype">Filter:</label>
            <select class="form-control" id="filtertype" onchange="generateView()">
                <option value="bhost">By Host Type</option>
                <option value="bsys">By System</option>
            </select>
            <label for="dir_new">Groups:</label>

            <div id="treeview-selectable"></div>

        </div>-->

        <div class="col-md-12" id="content">

        </div>
    </div>
    <br>
</div>

{% endblock %}