environment="NAME=ansible_server" ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxQO7Cl4pP0i35gNFlK/7PQNl5P60AEJlHbb+QhXmg/6X3oZZPzGs725cDeLeAR9Sz2FWVLJAvqbJBVXWxFS0MgQpdNcAuPbaJozdNxT45SGTn3rQvd9NjD+nTGUhHYQq2mC/fL55h6tk7e78Aa4iTcM16brdy1z+0nTDx9p1RWqQ5ACkd3V3cPdo/NZaSj6+0/voKgzfJBoWNLTfKjKM+0klYUb6wtfBL/tFki4AW/8/a9Eu/jZjGozf/gyUQHepxKT27/iM33d/PUVPS+a8nlHiIElbkiXMdSCOHNdyVND53qsIEfXqP+HWtLpGJF7N0J5LkbcfBrDU7kDo08QSAQ== root@salt-master

