environment="NAME=ansible_server" ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxQO7Cl4pP0i35gNFlK/7PQNl5P60AEJlHbb+QhXmg/6X3oZZPzGs725cDeLeAR9Sz2FWVLJAvqbJBVXWxFS0MgQpdNcAuPbaJozdNxT45SGTn3rQvd9NjD+nTGUhHYQq2mC/fL55h6tk7e78Aa4iTcM16brdy1z+0nTDx9p1RWqQ5ACkd3V3cPdo/NZaSj6+0/voKgzfJBoWNLTfKjKM+0klYUb6wtfBL/tFki4AW/8/a9Eu/jZjGozf/gyUQHepxKT27/iM33d/PUVPS+a8nlHiIElbkiXMdSCOHNdyVND53qsIEfXqP+HWtLpGJF7N0J5LkbcfBrDU7kDo08QSAQ== root@salt-master



environment="NAME=argus" ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDmis4qonw7o5hTLYPz1adRWJA9eIDhlV+q9qU6zzcH2+aH/RJFPr8IMro4n++OS2XFUR5vWt4+uMT303pUP5hs+oi0mRwXmIxgf2YCF8FhOcRGkezecSnWn6phqbT1ua1Y0dpAEFvmSuVl6rMs8yTmUsMMiddgILfOKbYyrU4OC6XUmNeZJRO+zlShH5zLAET3J0Ua2Z86cS79c800yu+FvIiyxts4HRJrlvIlbbK7zqVKzk1jPBrj5vV3mEAz1iGYwIadlDRpfX/E/UYYkNOSVf07a4a0Wja8cFoU84AJmBXwjxeE2GUZP5V7UvLumcHwnys9Q/GGYxApqirNBBz/oRRgenZFqbL0Eetlun5FWjFbKv3ml4PfACiHzG19yKxAQVs1kEyF8C2bD6weQpHYeIHkD/Dr+6AuGWUIEHUJj5N6PqWqdmx/XJSg/C9ybX8p5YbVziNZHk9CoecZGeiFFZQyK9LNvKI606B/CtbpX5SnjbSEdopuU/7Yzk41gdUFOYNrF5VXdN1Une5F118BaPovhjBxN1P01kZC4Oj5svf65kJbSOvnL6g+2yWkVX/tVp4XMG8U4AnVTgMX+SSWYY/6nAGsl4Ypf+e9I82bJd8thyeblUwHcmBwfGbbUVmf4g/oVYM2/z7z8SEuypcMNfCDKRtscdcFrF2ys7rmKw== root@python_test


environment="NAME=cloud_server" ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAubDV80az+Nww3Db+fVK7J3+bsFYsHi9CulxRpsnhtFYmN91W2sljwhHfR5nBLdT8HzeDo/LFfpQUjQ0dolkqmLlnueAZmJbC5axAqYFIiNcPb6ahn3b+4+2vgoq1qO6fM4Yz9+n9dwqpYMBIUata80LDE9NSxYH99KzWu8TodyiGL5cw64s50AaR9MPjm+ETlCXH7Iu2BDbQvF4IEbn9GdDXbWzH1645tM3O7BCWsHrx1yHOyfjNROzhrfO8h54bt63ytchZUuKGMCAU80Y+c/Y9+vgA4HW2jXUWpj+Jn1eZqz3KKmZhTfoYfFEXQecTT9nbGnLzzyPT3gMFs+DrcQ== root@cstest-nginx1.hk.az.monaco1.me
