Defaults:zabbix !requiretty
Cmnd_Alias ZABBIX_CMD = /etc/zabbix/include/*, /bak/bin/check_db_backup.sh, /bak/bin/check_binlogbak_proc.sh, /usr/local/nagios/libexec/check2_mysql_slavestatus.sh, /usr/sbin/mtr, /opt/puppetlabs/bin/puppet
zabbix ALL = (root) NOPASSWD: ZABBIX_CMD

