PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0

ListenPort=9000
ServerActive=120.24.167.117
Server=120.24.167.117
HostMetadata=ACC_VPN  
Include=/etc/zabbix/zabbix_agentd.d/*.conf  
