{% extends "base.html" %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}
    <script src="/static/js/LEManager/overview.js" type="text/javascript"></script>
    <script src="/static/js/select2/select2.full.min.js"></script>


{% endblock %}

{% block title %}
{% block header %}
Let's Encrypt SSL Manager
{% endblock %}
{% endblock %}

{% block details %}
Powered by: LEmoria API, Argus DNS Controller
{% endblock %}

{% block action %}
 <button href="#" id="newSSL" class="btn btn-primary" onclick="newCertInvoke();">Acquire new SSL</button>&nbsp;
<button href="#" id="newSSL" class="btn btn-default" onclick="bulkCertInvoke();">Bulk Acquire Wildcard</button>

{% endblock %}

{% block content %}
<div class="modal fade" id="LEBulkModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title" style="font-weight:bold">Bulk Create Wildcard Certificates</h2>
        </div>

    <div class="modal-body" id='modal-body'>

        <div class="row" id="MODAL-BulkRow">
            <div class="col-lg-12 form-group">
                  <label for="MODAL-BulkCREATE">Root Domains (Delimited by new lines):</label>
                  <textarea style="resize:none;" class="form-control" rows="5" id="MODAL-BulkCreate"></textarea>
            </div>
        </div>

    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="bulkCert()">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
    </div>
</div>


<div class="modal fade" id="LEUpdateModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title" style="font-weight:bold" id="MODAL-domainName"></h2>
        </div>

    <div class="modal-body" id='modal-body'>
        <div class="row">
            <div class="col-lg-12 form-group">
                <label> <input type="checkbox" id="MODAL-DNSCheck2" class="i-checks">  Bypass DNS Checking? (For different registrars) </label>

            </div>
        </div>
        <div class="row" id="MODAL-altNameRow2">
            <div class="col-lg-12 form-group">
                  <label for="MODAL-altNameCREATE">Alternative Names (Delimited by new lines):</label>
                  <textarea style="resize:none;" class="form-control" rows="5" id="MODAL-altNameUPDATE"></textarea>
            </div>
        </div>

    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="updateCert()">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
    </div>
</div>


<div class="modal fade" id="LECreateModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title" style="font-weight:bold">Acquire new SSL Certificate</h2>
        </div>


    <div class="modal-body" id='modal-body'>
        <div class="row">
            <div class="col-lg-12 form-group">
                <label for="MODAL-commonNameCREATE">Common Name (must be root domain):</label>
                <input class="form-control" id="MODAL-commonNameCREATE">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 form-group">
                <label> <input type="checkbox" id="MODAL-DNSCheck" class="i-checks">  Bypass DNS Checking? (For different registrars) </label>
            </div>

        </div>
        <div class="row" id="MODAL-altNameRow">
            <div class="col-lg-12 form-group">
                  <label for="MODAL-altNameCREATE">Alternative Names (Delimited by new lines, *.#DOMAIN#.com is added automatically):</label>
                  <textarea style="resize:none;" class="form-control" rows="5" id="MODAL-altNameCREATE"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="newCert()">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

    </div>
    </div>
</div>

    <div class="row border-bottom white-bg dashboard-header">

            <div class="col-lg-12" id="pendingDIV" >
                <div class="panel panel-success">
                    <div class="panel-heading">
                        History
                    </div>
                    <div class="panel-body" style="overflow-y: scroll; height: 200px">
                        <div class="mid-width wrapItems" id="pendingJobs" style="height:200px">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" id="alertRow">

            </div>


            <div class="row">

                <div class="col-lg-12">
                    <table id="domains" class="table table-bordered table-striped table-responsive" data-page-length='25' style="width: 100%;">
                        <thead>
                            <th>Common Name</th>
                            <th>Alternative Names</th>
                            <th>Last Renewal (LEmoria API)</th>
                            <th>Last Activity (Argus)</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>





{% endblock %}