{% extends "base.html" %}

{% block style %}
    {{ block.super }} {# includes previous content in block #}
    <style>
        .domainname {
            font-weight: bold;
        }

        .tag{
            padding-top:30px;
        }

    </style>

{% endblock %}

{% block title %}
Proxy Controller 
{% endblock %}
{% block header %}
Proxy Controller 
{% endblock %}

{% block details %}
Argus Proxy Controller Celery
{% endblock %}

{% block action %}
<div class="col-sm-12 pull-right">
    <button class="btn btn-danger" onclick="restartAllClients()"><i class="fa fa-exclamation"></i> Restart all running clients</button>
    <button class="btn btn-primary" onclick="startClientModal()"><i class="fa fa-play"></i> Start a new Client</button>
</div>


{% endblock %}
{% block content %}

<div class="modal fade" id="clientModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title" style="font-weight:bold">Start a new client</h2>
        </div>

    <div class="modal-body" id='modal-body'>

        <div class="row">
            <div class="col-lg-12 form-group">
                  <label for="server_address">Server</label>
                  <select style="width:100%" class="form-control select2" id="server_address"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 form-group">
                  <label for="local_port">Local Port</label>
                  <select style="width:100%" class="form-control select2" id="local_port"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 form-group">
                  <label for="channel">Channel</label>
                  <select style="width:100%" class="form-control select2" id="channel"></select>
            </div>
        </div>

    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="applyChanges" onclick="startClient()">Apply</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
    </div>
</div>                                                                                                                                                                                                                          
<div class="row border-bottom white-bg dashboard-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">

                <div class="panel-body"style="overflow-y: scroll; height: 200px">
                   <ul id="changesBody">
                       

                   </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-success">
                <div class="panel-body" id="configBody">
                    <i>Choose a server in the table to display parameters</i>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p><b>Current Proxy Channel ISPs </b><i>(Note: refresh the page to refresh ISP details)</i></p><hr/>
                    <div id="isp">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <table class="table table-bordered table-striped table-responsive" id="socketsTable" width="100%"></table>
        </div>
    </div>
    
</div>

{% endblock %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}

    <script src="/static/js/select2/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/multiselect/js/multiselect.min.js"></script>
    <script type="text/javascript" src="/static/js/proxycontroller/index.js"></script>

{% endblock %}
