{% extends "base.html" %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}
<!--<script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>-->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="/static/js/select2/select2.full.min.js"></script>
    <script src="/static/js/nrmt/coretraffic.js" type="text/javascript"></script>


{% endblock %}

{% block style %}
    {{ block.super }} {# includes previous content in block #}
<style>
        .chart {
      width: 100%;
      min-height: 800px;
    }
</style>
{% endblock %}


{% block title %}
Core Nginx Traffic
{% endblock %}
{% block header %}
Core Nginx Traffic

{% endblock %}


{% block details %}
VTS Data Celery API: Nicholas Tumbaga
{% endblock %}


{% block action %}
<div class="col-lg-3  pull-right">
    <label for="slocation">Location:</label>
    <select class="form-control select2 searchlocation" style="width:100%;" name="slocation" id="slocation" required>

    </select>
</div>
<div class="col-lg-3 pull-right">
    <label for="sdomain">Host:</label>
    <select class="form-control select2 searchdomain" onchange="getLocation(this.value)" style="width:100%;" name="sdomain" id="sdomain" required>

    </select>
</div>

{% endblock %}

{% block content %}

<div class="row border-bottom white-bg dashboard-header" id="sChart">

</div>


{% endblock %}