{% extends "base.html" %}
{% block title %}SSL-Checker{% endblock %}
{% block header %}
SSL-Checker
{% endblock %}
{% block details %}
Check Domain SSL Certificate expiration
{% endblock %}
{% block action %}
<form class="form-inline" method="POST" action="{% url 'addDomain' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-info" id="btnAddDomain">Add Domain
    </button>
    <div class="form-group">
        <input type="text" class="form-control" name="get_domain" id="get_domain" placeholder="domain"
        value="">
    </div>
</form>
{% endblock %}
{% block content %}
<!-- CSS -->
<style>
    div.ex1 {
        background-color: white;
        width: 1100px;
        height: 220px;
        overflow: scroll;
    }
</style>
<!-- ENDCSS -->
<div class="container mb-1 mt-1">

    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-9">
            <form class="form-group">
                <h1></h1>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
            <table class="table table-sm table-striped table-bordered" id="domainTable" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">Expiration</th>
                        <th scope="col">Day(s) Left</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ins in object_list %}
                    <tr>
                        <td scope="row">
                            {%if ins.status == 0%}<span class="badge badge-pill badge-success">!</span>
                            {%elif ins.status == 1%}<span class="badge badge-pill badge-warning">!</span>
                            {%elif ins.status == 2%}<span class="badge badge-pill badge-danger">!</span>
                            {%endif%}
                            <a href="https://{{ ins.domain }}">  {{ ins.domain }}</a></td>
                            <td scope="row">{{ ins.expiration }}</td>
                            <td scope="row">{{ ins.daysleft }}</td>
                            <td scope="row" align="center">
                                <form class="form-group mb-0 mt-0" method="POST" action="{% url 'toDelete' %}">
                                    {% csrf_token %}
                                    <button class="btn btn-info" type="submit" aria-pressed="true" value="{{ ins.id }}"
                                    name="get_id">
                                    Delete
                                </button>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
        </div>


    </div>
    <div class="container mb-3 mt-3">
        <span>Logs:</span>
        <div class="ex1" id="log-scroll">
            <ul>
                {% for log in query_log %}
                    <li>{{ log.logs_field }}
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#domainTable').DataTable({
                            "order": [[ 1, "asc" ]], //or desc (for descending) 
                            "columnDefs" : [{"targets":1, "type":"date"}],
                        });
        } );
    </script>
    <script>
        $(document).ready(function() { 
            $('#log-scroll').animate({ 
                scrollTop: $('#log-scroll').get(0).scrollHeight 
            }, 100); });
    </script>
    <!-- ENDJS -->
    {% endblock %}

